<div class="container-fluid text-center">
  <h2> <%=@workout.name %> </h2>
  <p> Added by: <%= link_to @workout.user.email, user_path(@workout.user)%> </p>
  <p> <%= last_updated @workout %></p>
</div>

<%= render 'action_options' %>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="<%=@workout.website %>" allowfullscreen></iframe>
</div>

<table>
  <tr>
      <td> Website: <a href="<%=@workout.website %>" target="_blank" ><%=@workout.website %></a> 
      </td>
  </tr>
  <tr>
    <td> Duration: <%=@workout.duration %> </td>
    <td> Training Type: <%=@workout.training_type_name %> </td>
  </tr>
  <tr>
    <td> Difficulty: <%=@workout.difficulty %> </td>
    <td> Body Focus: <%=@workout.category.name %> </td>
  </tr>
  <tr>
    <td> Equipment:
      <ul>
        <% @workout.equipments.each do |equipment| %>
        <li> <%= equipment.name %> </li>
        <%end%>
      </ul>
    </td>
  </tr>
 
</table>

<h4>Add a comment:</h4>
   <%= form_for @comment, url: workout_comments_path(@workout, @comment) do |f| %>
     <%= f.text_area :content, class: 'commentBox' %><br>
     <button type="submit" class="btn btn-sm btn-primary">Create Comment</button>
   <% end %><br>

<% if @workout.comments %>
  <% @workout.comments.each do |comment| %>
    <p> <strong> <%= comment.user.email%> :</strong> <%=comment.content%> </p>
  <% end %>
<% end %>