<a href="#" class="js-next" data-id="<%=@workout.id%>">Next...</a>

<div class="container-fluid text-center">
  <h2 class="workoutName"> <%=@workout.name %> </h2>
  <p> Added by: <%= link_to @workout.user.email, user_path(@workout.user), :class => "userName"%> </p>
  <p> <%= last_updated @workout %></p> <!--not sure how to update this yet!-->
</div>

<%= render 'action_options' %><!--not sure how to update this yet!-->

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="website embed-responsive-item" src="<%=@workout.website %>" allowfullscreen></iframe>
</div>

<table style="width:100%"%>
  <tr>
      Website: <a href="<%=@workout.website %>" target="_blank" ><%=@workout.website %></a> 
  </tr>
  <tr>
    <td> Duration: <%=@workout.duration %> </td>
    <td> Training Type: <%=@workout.training_type_name %> </td>
  </tr>
  <tr>
    <td> Difficulty: <%=@workout.difficulty %> </td>
    <td> Body Focus: <%=@workout.category.name %> </td>
  </tr>
  <tr>
    <td> Equipment:
      <ul>
        <% @workout.equipments.each do |equipment| %>
        <li> <%= equipment.name %> </li>
        <%end%>
      </ul>
    </td>
  </tr>
 
</table>

<h4>Add a Review:</h4>
   <%= form_for @comment, url: workout_comments_path(@workout) do |f| %>
     <%= f.text_area :content, class: 'commentBox' %><br>
     <button type="submit" class="btn btn-sm btn-primary">Create Comment</button>
   <% end %><br>



<%= link_to "Workout Reviews", workout_comments_path(@workout, @comment), :class => "load_comments" %>


<div class= "comments" >
  <ol>
  </ol>
</div>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function() {
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.getJSON("/workouts/" + nextId + "/workout_data", function(data) {
        $(".workoutName").text(data["name"]);
        $(".userName").attr("data-id", data["user_id"])
        $(".userName").attr("href", "/users/" + data["user_id"])
        $(".userName").text(data["user"]["email"])
        $(".website").attr("src", data["website"])
        // re-set the id to current on the link
        $(".js-next").attr("data-id", data["id"]);
      });
    });
  });
  </script>